<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="/fragment/common/header.html :: fragment-header"/>
</head>

<body>
<div th:replace="/fragment/common/navbar.html :: fragment-navbar"/>

<div class="container is-fluid">
    <div class="container is-fluid mt-5 menu">
        <p class="menu-label">
            Credits
        </p>
        <ul class="menu-list">
            <li><a>Naver Static Map API v2</a></li>
            <li>
                <ul>
                    <li><a href="https://www.ncloud.com/policy/terms/opapi">License & Policy</a></li>
                    <li><a href="https://www.ncloud.com/">HomePage</a></li>
                </ul>
            </li>

            <li><a>Kakao Maps WEB API</a></li>
            <li>
                <ul>
                    <li><a href="https://developers.kakao.com/terms/latest/ko/site-policies">License & Policy</a></li>
                    <li><a href="https://apis.map.kakao.com/">HomePage</a></li>
                </ul>
            </li>

            <li><a>canvas-toBlob.js</a></li>
            <li>
                <ul>
                    <li><a href="https://github.com/eligrey/canvas-toBlob.js/blob/master/LICENSE.md">License & Policy</a></li>
                    <li><a href="https://github.com/eligrey/canvas-toBlob.js">HomePage</a></li>
                </ul>
            </li>
        </ul>
    </div>

</div>
</body>

</html>