body{
    margin: 0px;
}

/*.ground{*/
/*    position: fixed;*/
/*    bottom: 0;*/
/*    height: 20%;*/
/*    width: 100%;*/
/*    background-color: black;*/
/*}*/

.field{
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url("/img/background.png");
    background-size: 1550px;
    background-attachment: fixed;
}

.character{
    width: 65px;
    left: 0px;
    top: 84%;
    height: 65px;
    position: absolute;
}