<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <link th:href="@{/css/login.css}" rel="stylesheet" type="text/css">
        <title>HelloWorld</title>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <!------ Include the above in your HEAD tag ---------->
    </head>

    <body>

    <div class="wrapper fadeInDown">
        <div id="formContent">
            <!-- Tabs Titles -->
            <div th:if="${error} == 'empty'"
                 class="alert alert-danger alert-dismissable text-left">
                공백은 허용되지 않습니다.
            </div>

            <div th:if="${error} == 'existIp'"
                 class="alert alert-danger alert-dismissable text-left">
                기존 접속을 해제하고 다시 시도해 주세요.
            </div>

            <div th:if="${error} == 'existNickname'"
                 class="alert alert-danger alert-dismissable text-left">
                이미 존재하는 유저 이름입니다.
            </div>


            <!-- Icon -->
            <div class="fadeIn first">
                <h2>Hello World</h2>
            </div>

            <!-- Login Form -->
            <form th:action="@{/login}" th:object="${user}" method="post">
                <input type="text" id="login" class="fadeIn second" th:field="*{nickName}" placeholder="nickname">
                <input type="submit" class="fadeIn fourth" value="Get In">
            </form>


        </div>
    </div>
    </body>
</html>