<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="fragment/common/header.html :: fragment-header"></div>
</head>

<body>
<div th:replace="fragment/common/navbar.html :: fragment-navbar"></div>


<div class="container is-fluid">
    <div class="container is-fluid mt-5 menu" th:each="patchNote : ${patchNoteList}">
        <p class="menu-label">
            패치내역
        </p>

        <p class="menu-label">
            <span class="tag is-info mt-5" th:text="${patchNote.date}">21.09.12</span>
        </p>


        <ul class="menu-list">
            <li><a th:text="${patchNote.title}"></a></li>
            <li>
                <ul>
                    <li><a th:text="${patchNote.description}"></a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
</body>
</html>